@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

/* custom design for table list */
.css-1whpjm6-MuiToolbar-root {
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  height: 90px !important;
}

.css-pjjt8i-MuiToolbar-root {
  border-bottom: 1px solid #efefef;
  height: 90px !important;
}